@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    background-color: theme('colors.black');
    color: theme('colors.white');
    border-radius: theme('borderRadius.md');
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
    padding-bottom: theme('spacing.1');
    padding-top: theme('spacing.1');
    font-size: theme('fontSize.lg');
  }
  .btn-primary:hover {
    background-color: theme('colors.neutral.600');
  }
  .btn-primary[disabled] {
    background-color: theme('colors.neutral.600');
    cursor: default;
  }

  .btn {
    border: 1px solid theme('colors.neutral.400');
    border-radius: theme('borderRadius.md');
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
    padding-bottom: theme('spacing.1');
    padding-top: theme('spacing.1');
  }
  .btn:hover{
    background-color: theme('colors.neutral.100');
  }
  .btn[disabled] {
    color: theme('colors.neutral.300');
    border-color: theme('colors.neutral.300');
  }

  html.dark .btn:hover {
    background-color: theme('colors.neutral.500');
  }
}

* {
  font-family: 'Lato', monospace;

  --reactour-accent: theme('colors.primary');
}

.react-flow__panel.react-flow__attribution {
  display: none;
}

.text-selection-none {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
} 

body {
  scrollbar-color : #90949b transparent;
  scrollbar-width : thin;
}

::-webkit-scrollbar {
  width           : 5px !important;
  height          : 5px !important;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius     : 10px;
  box-shadow        : inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #90949b;
  border-radius   : 8px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.react-flow__node {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.switch {
  width: 40px;
  height: 24px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid theme('colors.neutral.400');
  justify-content: flex-start;
  border-radius: 50px;
  padding: 1px;
  cursor: pointer;
}

html.dark .switch {
  background-color: rgba(255, 255, 255, 0.6);
}

.switch[data-is-on="true"] {
  justify-content: flex-end;
}

.switch .handle {
  width: 20px;
  height: 20px;
  background-color: theme('colors.neutral.400');
  border-radius: 100%;
}

html.dark .switch {
  background-color: theme('colors.neutral.200');
}

.switch[data-is-on="true"] .handle {
  background-color: theme('colors.primary-thin');
}

.reactour__popover {
  border-radius: theme('borderRadius.lg');
}
.reactour__close-button {
  top: 15px !important;
}

html.dark .reactour__popover {
  color: white !important;
  background-color: theme('colors.gray.500') !important;
}

html.dark .reactour__popover button[aria-label="Go to next step"] svg {
  color: theme('colors.neutral.200') !important;
}
html.dark .reactour__popover button[aria-label="Go to prev step"] svg {
  color: theme('colors.neutral.200') !important;
}